/* src/App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Arial', sans-serif;
  text-align: center;
}

/* .countdown-container {
  @apply mt-8 space-x-2;
} */

.countdown-item {
  @apply text-4xl md:text-8xl text-white px-2 py-1 rounded; /* Larger font size for the countdown items */
  color: #888;
}

.spotify-embed {
  margin-top: 20px;
  text-align: center;
}

:root {
  --tw-gradient-stops-pastel1:#f5e58d;/* #aed9e0;*/
  --tw-gradient-stops-pastel2:#f3c19e;/* #f8bac9;*/
  --tw-gradient-stops-pastel3: #f09658;/*#b6f8c4;*/
  --tw-gradient-stops-pastel4: #f8cccb;/*#ffe699;
  --tw-gradient-stops-pastel5: #ffc3a0;
  --tw-gradient-stops-pastel6: #f6d6d6;
  --tw-gradient-stops-pastel7: #d9d9f3;*/
}

/* src/App.css or your component's stylesheet */
.gradient-bg-pastel {
  background: var(--tw-gradient-stops-pastel4/*linear-gradient(135deg, 
    var(--tw-gradient-stops-pastel4),
    var(--tw-gradient-stops-pastel2)/*,
    var(--tw-gradient-stops-pastel3),
    var(--tw-gradient-stops-pastel4),
    var(--tw-gradient-stops-pastel5),
    var(--tw-gradient-stops-pastel6),
    var(--tw-gradient-stops-pastel7)*/
  );
}

/* src/components/Invite.css */
.invite-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


/* .card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  max-width: 400px;
  text-align: center;
} */

.wedding-page {
  font-family: 'Lora', serif;
  color: #555;
  text-align: center;
  padding: 20px;
  background-color: #fefefe;
}

.header {
  background: #ffecd1;
  position: sticky;
  top: 0;
  z-index: 1;
}

.couple-name {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  color: #888;
}

.wedding-date {
  font-size: 1.5rem;
  color: #888;
}

.about-us, .rsvp, .wedding-details, .registry {
  margin: 40px 0;
}

.story-image {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
}

.rsvp-button, .registry-button {
  padding: 10px 20px;
  background-color: #ff7f50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.rsvp-button:hover, .registry-button:hover {
  background-color: #e76e3a;
}

.footer {
  padding: 20px;
  background-color: #ffecd1;
  color: #333;
  position: relative;
  bottom: 0;
  z-index: 50; /* ให้ footer อยู่ข้างบน */
  width: 100%;
  align-items: center;
  justify-content: center;
}

.countdown-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap; /* Wrap content for smaller screens */
  align-items: center;
  justify-content: center;
}

.countdown,
.image-container {
  flex: 1 1 50%;
  min-width: 300px;
  display: flex;        /* Use flexbox */
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically (optional) */
  /* height: 100vh; */
}

.responsive-image {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.wedding-details {
  padding: 20px;
  /* max-width: 800px; */
  margin: 0 auto;
  background: #fff5f5; /* สีชมพูอ่อน */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;    /* Sticks to the top */
  top: 0;  
  z-index: 3;
}

.venue-container {
  display: grid;
  grid-template-columns: 3fr 5fr; /* แบ่งรูปภาพ 3 ส่วน และข้อความ 5 ส่วน */
  gap: 20px; /* ระยะห่างระหว่างคอลัมน์ */
  align-items: center;
}

@media (max-width: 768px) {
  .venue-container {
    grid-template-columns: 1fr;
  }
}

.venue-image img {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: auto;
}

.venue-text h3 {
  margin: 0 0 10px;
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
}

.venue-text p {
  margin: 0 0 10px;
  color: #666;
}

.venue-text a {
  color: #888;
  text-decoration: none;
  font-weight: bold;
}

.venue-text a:hover {
  color: #888;
}

.card {
  /* max-width: 800px; */
  margin: 0 auto;
}

.hashtag-container {
  perspective: 100%; /* สร้างมุมมอง 3D */
  margin: 0;    
  padding: 20px;
  flex-wrap: wrap; /* Wrap content for smaller screens */
  position: relative;    /* Sticks to the top */
  background: #fff5f5; 
  overflow-y: auto;     
  top:0;
  z-index: 1;
}
@media (max-width: 768px) {
  .countdown-container, .card-container, .wedding-details {
    padding: 20px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
  }
}
